* {
	padding : 0;
	margin : 0;
}

body {
	display : flex;	
	flex-direction : row;
	background-color : #181f23;
}
	
.moviePic {
	border-radius : 10px;
	width : 200px;
	height : 300px;
	margin : 20px;
	opacity : 0.9;
}

.details {
	background-color : #4c626f;
	color : white;
	border-radius : 10px;
	height : 200px;
	position : relative;
	top : 110px;
}

.mov-name {
	text-align : center;
	padding : 10px;
}
	
.movieDetail {
	position : relative;
	top : 10px;
	width : 90%;
	font-size : 20px;
	text-align : center;
	margin : 0px 0px 0px 10px;
}